/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)


// Medium devices (tablets, 768px and up)


// Large devices (desktops, 992px and up)


// X-Large devices (large desktops, 1200px and up)


// XX-Large devices (larger desktops, 1400px and up) */
/* @media (max-width: 575.98px) {     
    li{
        background-color: rgb(0, 255, 64);
    }
    a{
        color: rgb(255, 128, 0);
    }
} */

@media (min-width: 576px) {     
    li{
        background-color: red;
    }
    a{
        color: blue;
    }
}

@media (min-width: 768px) { 
    li{
        background-color: green;
    }
    a{
        color: aqua;
    }

 }
@media (min-width: 992px) { 
    li{
        background-color: blue;
    }
    a{
        color: brown;
    }

 }
@media (min-width: 1200px) {
    li{
        background-color: yellow;
    }
    a{
        color: blueviolet;
    }

 }
@media (min-width: 1400px) { 
    
    li{
        background-color: pink;
    }
    a{color: antiquewhite;}
 }